.border{
	width: 50%;
	border: 1px solid black;
	margin: 50px 25% 100%;
	padding: 30px;
}
.inside-border{
	border: 2px solid black;
	height: 350px;
	width: 80%;
	margin: 30px 70px 100px;
}
.text_name{
	font-weight: bold;
	margin: 50px 16% 100%;
	font-size: 200%;
}
.photo{
	height: 100%;
	width: 100%;
}
.main-text{
	padding: 20px 155px 15px;
	font-size: 150%
}
.button{
	margin: 0px 85px 0px;
	font-size: 200%;
	background-color: #0088ff;
	color: #fff;
	border-radius: 1064px;
	font-weight: 500;
	display: block;
	width: 77%;
	height: 55px;
}